<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head.ejs %>
</head>
<body>
<ul>
	<h1>Pets</h1>
	<div class="btn-container">
		<% pet.forEach((item, i) => { %>
	<form action="/pet/<%= item.id %>?_method=DELETE" method="POST">
		<li><a href="/pet/<%= item.id%>"><%= pet[i].name %></a></li>
		<li><%= pet[i].type %></li>
		<li><%= pet[i].color %></li>
		<li><%= pet[i].age %></li>
		<a href="/pet/<%= item.id %>/edit" id="petEdit">Edit</a>
		<button type="submit">Delete</button>
	</form>	

		<% }) %>
		</div>
		<h3><a href="/pet/new" id="addPet">Add a New Pet</a></h3>
</ul>



<script src="/javascripts/app.js"></script>
</body>
</html>